@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(0, 0%, 74%);
    --foreground: hsl(0, 0%, 23%);
  }
}


.contain{
  display: grid;
  /* width: 100%; */
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 30px;
}

@media(min-width:1265px){
    .contain{
    grid-template-columns: repeat(auto-fit, minmax(251px, 1fr)); 
  }

}

@media(min-width:1020px) and (max-width:1625px){
    .contain{
    grid-template-columns: repeat(auto-fit, minmax(201px, 1fr)); 
  }
}

@media(min-width:420px) and (max-width:537px){
    .top{
    margin-top: 02em;
  }

}
@media(max-width:384px){
    .contain{
    grid-template-columns: repeat(auto-fit, minmax(131px, 1fr)); 
  }

}

.cardimg{
  overflow: hidden;
  aspect-ratio: 4/3;
  width: 100%;

}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sands-serifo;
  font-size: .75rem;
}

/* 10 bg.png*/
.background{

  background: none;
  background-position-y:top 50%; 
  background-size: cover;
  height: 250px;
  
}

.background2{
  background: url('./images/bg2.png');
  background-position-y:top 83%;
  background-size: cover;
  height: 200px;
}
.background3{
  background: url('./images/bg.png');
  background-position-y:top 0%;
  background-size: cover;
  height: 170px;
}

@media(min-width:880px){
    .background{
    background: none; 
  }

}

@media(min-width:420px) and (max-width:537px){
  .browse{

    margin-bottom: -1rem;
  }

}

@media(min-width:55rem) and (max-width:880px) {
  .background{

    background: none;
    background-position-y:top 20%; 
    background-size: cover;
    height: 250px;

  
  }
  .background3{
  background: url('./images/bg.png');
  background-position-y:top 0%;
  background-size: cover;
  height: 200px;
}
}
@media(min-width:55rem) {
  .background2{
    height:19rem;
    background-position-y:top 80%;
  }

}

.glass2{
  background-color: hsla(210, 80%, 7%, .9);
  border:  1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rbgba(0,0,0,0.1);
  color:#f8f8f8
}


.container{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  width:250px;

}


.grid-item{
  aspect-ratio:1;
  background:hsl(240, 20%, 30%);
  border-radius:6px;
  transition: transform 0.3s ease;
  transform-origin: center;
  box-shadow: 3px 5px 5px rgba(0,0,0,0,0.15);
  
}



.item-2{
  background-image: url('./images/honda.jpg');
  background-size:cover;
  background-position-y: top 40% ;
  
}
.item-3{
  background-image: url('./images/2018_S4_engine.webp');
  background-size:cover;
  background-position-y:top 40% ;
}

.item-4{
  background-image: url('./images/2018_audi_a3.avif');
  background-size:cover;
  background-position-y:top 40% ;

}
.item-5{
  background-image: url('./images/2018_audi_a4.avif');
  background-size:cover;
  background-position-y:top 40% ;
}
.item-6{
  background-image: url('./images/2018_audi_s4.jpg');
  background-size:cover;
  background-position-y:top 40% ;
}


.grid-item:hover{
  transform: scale(1.1) rotate(5deg);
  z-index:1;
}

.container:hover .grid-item:not(:hover){
  transform: scale(0.95);
}

li{
  margin-bottom:11px;
  font-size:.68rem;
  cursor: pointer;

}

.list{
  /* width:100%; */
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.5s ease;
}

.list:hover{
  border: 1px solid;
  border-color: hsl(190, 100%, 50%);
}


.slide{
  flex: 0 0 auto;
  scroll-snap-align:start;
  flex-shrink: 0;

}
.scrol::-webkit-scrollbar{
  display: none;
}

.scrol{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrol{
  -webkit-overflow-scrolling: touch;

}
.scrols{
  /* mask-image: linear-gradient(to right, transparent, black 5%, black 95%3, transparent);
  -webkit-mask-image: linear-gradient((to right, transparent, black 5%, black 95%, transparent)); */
}



.mobile{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width:33.625rem) {
  .mobile{
    grid-template-columns: repeat(2, 1fr);
  }
  /* .size{
    height: 30;
    width: 45;
  } */
}
@media (min-width:26.25rem) and (max-width:33.625rem) {
  .mobile{
    grid-template-columns: repeat(2, 1fr);
  }
  .size{
    height: 7rem;
    width: 12rem
  }
  .down{
    margin-top: 6rem;
    color:black;
  }
}
@media (min-width:640px) and (max-width:768px){ 
  .down{
    margin-top: 6.5rem;
    color:black;
  }
}


@media (min-width:768px) and (max-width:860px){ 
  .size{
    height: 7rem;
    width: 10rem;

  }

}
@media (min-width:980px) and (max-width:1164px){ 
  .size{
    height: 7rem;
    width: 15rem;

  }
}
@media (min-width:1400px){ 
  .mobile{
    grid-template-columns: repeat(4, 2fr);
  }
}



@media (max-width:1400px){ 
  .mob{
    display: flex;
    padding-left: 10rem;
  }
}